div
  = javascript_include_tag "http://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_STATIC_MAPS_API']}"
  = javascript_include_tag "http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
