$(window).load(function() {
  loadScript();
});

// calling the initialize callback
function loadScript() {
  console.log("map loading ...");
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = `http://maps.google.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>` +
    '&libraries=drawing' +
    '&callback=initialize';
  document.body.appendChild(script);
}


/**
 * Binds right click event to given marker and invokes a callback function that will remove the marker from map.
 * @param {!google.maps.Marker} marker A google.maps.Marker instance that the handler will binded.
 */
function bindMarkerEvents(marker) {
    google.maps.event.addListener(marker, "rightclick", function (point) {
        var markerId = getMarkerUniqueId(point.latLng.lat(), point.latLng.lng()); // get marker id by using clicked point's coordinate
        var marker = markers[markerId]; // find marker
        removeMarker(marker, markerId); // remove it
    });
};

/**
 * Removes given marker from map.
 * @param {!google.maps.Marker} marker A google.maps.Marker instance that will be removed.
 * @param {!string} markerId Id of marker.
 */
function removeMarker(marker, markerId) {
    marker.setMap(null); // set markers setMap to null to remove it from map
    delete markers[markerId]; // delete marker instance from markers object
};

var markers = {};

/**
 * Concatenates given lat and lng with an underscore and returns it.
 * This id will be used as a key of marker to cache the marker in markers object.
 * @param {!number} lat Latitude.
 * @param {!number} lng Longitude.
 * @return {string} Concatenated marker id.
 */
function getMarkerUniqueId(lat, lng) {
    return lat + '_' + lng;
}

/**
 * Creates an instance of google.maps.LatLng by given lat and lng values and returns it.
 * This function can be useful for getting new coordinates quickly.
 * @param {!number} lat Latitude.
 * @param {!number} lng Longitude.
 * @return {google.maps.LatLng} An instance of google.maps.LatLng object
 */
function getLatLng(lat, lng) {
    return new google.maps.LatLng(lat, lng);
};

function findMyDinner(lat, lng) {
  $.ajax({
    type: 'GET',
    url: `https://api.foursquare.com/v2/venues/search?ll=${lat},${lng}&client_id=<%=ENV['CLIENT_ID']%>&client_secret=<%=ENV['FOURSQUARE_CLIENT_SECRET']%>&v=20170101`,
    error: function() {
      alert('error');
    },
    success: function(result) {
      venues = result.response.venues;
      console.log(venues)
      venues.forEach(function(venue) {
        var mayor = venue.mayor || "no mayor";
        var mayorDiv = (venue.mayor) ? "<div class='mayor'>" + "Mayor: " + venue.mayor + "</div>" : "";
        var addressDiv = (venue.location.address) ? "<div class='address'>" + venue.location.address + "</div>" : "";
        $('#map-container').append("<div class='venue'>" +
          "<div class='name'>" +
          venue.name +
          "</div>" +
            addressDiv +
            mayorDiv +
          "</div>"
        )

      });
    }
  }).done(function(msg) {
    // console.log(msg)
  })
}




var map;


function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(41.903426915508625, -87.6478099822998),
    zoom: 14,
    mapTypeId: google.maps.MapTypeId.NORMAL,
    panControl: true,
    scaleControl: false,
    streetViewControl: true,
    overviewMapControl: true,
    styles: [{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"gamma":"3.24"},{"hue":"#009aff"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f1f8fe"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"},{"hue":"#009aff"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b2dff2"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}]
  };

  // initializing map
  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

  /**
   * Binds click event to given map and invokes a callback that appends a new marker to clicked location.
   */
  var addMarker = google.maps.event.addListener(map, 'click', function(e) {
      var lat = e.latLng.lat(); // lat of clicked point
      var lng = e.latLng.lng(); // lng of clicked point
      findMyDinner(lat, lng)
      console.log("latitude: ", lat)
      console.log("longitude: ", lng)
      var markerId = getMarkerUniqueId(lat, lng); // an that will be used to cache this marker in markers object.
      var marker = new google.maps.Marker({
          position: getLatLng(lat, lng),
          map: map,
          id: 'marker_' + markerId
      });
      markers[markerId] = marker; // cache marker in markers object
      bindMarkerEvents(marker); // bind right click event to marker
  });
}



